<div class="container">
  <h1>Building an Angular Directive</h1>
  <p>
    Hover over the UI elements below to see how a box shadow style is applied
    using a <strong>glow</strong> directive.
  </p>

  <div class="mb-4">
    <button class="btn btn-primary" glow>Hover Over Me</button>
  </div>

  <div class="mb-4">
    <button type="button" class="btn btn-primary position-relative" glow>
      Messages
      <span
        class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
      >
        100
        <span class="visually-hidden">unread messages</span>
      </span>
    </button>
  </div>

  <div class="mb-4">
    <div class="alert alert-success" role="alert" glow>
      I'm a success message
    </div>
  </div>

  <div class="mb-4">
    <div class="progress" glow>
      <div
        class="progress-bar"
        role="progressbar"
        style="width: 75%"
        aria-valuenow="70"
        aria-valuemin="0"
        aria-valuemax="100"
      ></div>
    </div>
  </div>

  <div class="mb-4">
    <div class="btn-group" glow>
      <button type="button" class="btn btn-outline-primary">Left</button>
      <button type="button" class="btn btn-outline-primary">Middle</button>
      <button type="button" class="btn btn-outline-primary">Right</button>
    </div>
  </div>

  <div class="mb-4">
    <button class="btn btn-primary" [glow]="glowColour">My Glow Colour Is Different</button>
  </div>

</div>
